# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# Laravel
application/config/local/*
public/uploads/clubs/promotions/*
public/uploads/clubs/
public/uploads/restaurants/*
public/uploads/thumbnails/clubs/promotions/*
public/uploads/thumbnails/restaurants/*
public/uploads/thumbnails/users/*
public/uploads/users/*